{% extends "base.html" %}

{% block extra_title %}Dashboard{% endblock %}

{% block header %}Welcome, {{ request.user }}!{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="boxes">
            <h6 class="sign">Actual temperature:</h6>

            <p>
                Main room: 

                {% if actual_temp %}

                {{ actual_temp.temp_data }}&deg;C

                {% else %}

                ---&deg;C

                {% endif %}

            </p>

        </div>

    </div>

    <div class="col-md-4">
        <div class="boxes">
            <h6 class="sign">Manual control:</h6>

            <p>Central heating relay state:
                {% if site_settings.relay_state %}

                ON

                {% else %}

                OFF

                {% endif %}

            </p>

            <button class="btn btn-default btn-sm custom-btn" {% if site_settings.auto_mode %}disabled{% endif %}>Relay on</button>

            <button class="btn btn-default btn-sm custom-btn" {% if site_settings.auto_mode %}disabled{% endif %}>Relay off</button>

        </div>

    </div>

    <div class="col-md-4">
        <div class="boxes">
            <h6 class="sign">Automatic control:</h6>

            <p>
                <div>Actual temperature limit: {{ site_settings.temp_limit }}&deg;C</div>
                <div>Actual temperature offset: {{ site_settings.temp_offset }}&deg;C</div>
                <div>Automatic mode:
                    {% if site_settings.auto_mode %}

                    ON

                    {% else %}

                    OFF

                    {% endif %}

                </div>
            </p>

            <p class="sign">New settings:</p>

            <form method="POST" action="{% url 'save_site_settings' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-default btn-sm custom-btn" type="submit">Apply</button>

            </form>

        </div>

    </div>

</div>

<div class="row">
    <div class="col">
        <div class="history-box">
            <h6 class="sign">Historical temperature data:</h6>

            <div class="border border-dark overflow-auto listbox">

                {% if historical_temp %}

                {% for item in historical_temp %}

                <div>{{ item.temp_data }}&deg;C {{ item.temp_date }}</div>

                {% endfor %}

                {% else %}

                No data available.

                {% endif %}

            </div>

        </div>

    </div>

</div>

{% endblock %}